* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: liner-gradient(120deg, #2525a7, #04177b);
    color: #ffe100;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

header{
    font-size: 1,5rem;
}

header,
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-item: center;
}

form input,
form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

form button {
    color: #04157b;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background: #04157b;
    color: white;
}